*{
    color: red
}
h1{
    color: blueviolet;
}
h3{
    color: aqua;
}
h3{
    color: aqua
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
ul{
 list-style: square;
}
h1{
    color: blueviolet;
}